.writingHolder {
    width: 85%;
    max-width: 800px;
    text-indent: 20px;
    margin: 50px auto;
}

.writingImage {
    text-indent: 0;
    text-align: center;
    margin: 50px 0;
    font-style: italic;
}

.writingImage > :first-child {
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--theme-accent);
    padding: 10px;
    margin-bottom: 10px;
}

.writingImage img {
    max-width: 100%;
    border-radius: 10px;
}

.writingTitle {
    padding: 10px;
    text-align: center;
    border-width: 5px;
    border-style: none solid;
    border-color: var(--theme-accent);
    border-radius: 10px;
    max-width: 700px;
    width: 70%;
    margin-top: 50px;
}

.writingContainer {
    width: 100%;
    position: relative;
}

@media (width <= 600px) {
    .writingHolder {
        width: 95%;
        max-width: 800px;
    }

    .writingTitle {
        width: 90%;
    }
}
