html, body {
    padding: 0;
    margin: 0;
    font-family: Consolas,monaco,monospace;
}

html {
    background-color: var(--theme-1);
}

.it{
    font-style: italic;
}
.katex{
    white-space: nowrap;
}

.gone {
    display: none;
}

a {
    color: #add3ee;
}

.lightText {
    color: azure;
}


.tabCell {
    border: 1px solid azure;
    padding: 5px;
}