html, body {
    padding: 0;
    margin: 0;
    font-family: Consolas, monaco, monospace;
    background-color: var(--theme-color-1);
    color: var(--theme-text);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Courier New", Courier, monospace;
}

a {
    color: var(--theme-link);
}

.katex {
    white-space: nowrap;
}

.gone {
    display: none;
}

.tabCell {
    border: 1px solid;
    padding: 5px;
}

code {
    background-color: color-mix(in srgb, var(--theme-color-3-selected) 80%, transparent);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}


@media (width <= 600px) {
    .katex {
        white-space: normal;
    }
}
