html,body {
    padding: 0;
    margin: 0;
    font-family: Consolas,monaco,monospace; 
    background-color: #1e1e1e;
}

.void {
    background: url(https://lightsail-image-repo.s3.amazonaws.com/pgrm/void.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.it{
    font-style: italic;
}
.katex{
    white-space: nowrap;
}
#terminalClose:hover{
    background-color: #313131 !important;
    color: azure !important;
}
#terminalHolder{
    background-color: #1e1e1e;
    color: azure;
    position: fixed;
    bottom: 30px;
    left:0px;
    right: 0px;
    z-index: 2;
}
#terminalOutput{
    position: fixed;
    bottom: 70px;
    height: 0px;
    width: 100%;
    overflow: scroll;
}
#terminalPrompt{
    position: fixed;
    bottom: 30px;
    height: 40px;
    width: auto;
}
#terminalInput{
    position: fixed;
    bottom: 30px;
    height: 40px;
    width: 100%;
}
#terminalInput:focus-visible{
    outline: none;
}
#terminal{
    border: 1px solid black; 
    height: 30px;
}
#terminalThumb{
    background: #838383;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    cursor: row-resize;
    height: 10px;
}
#resumeHolder{
    width: 100%;
    height: 1100px;
    margin-bottom: 60px;
}
.lightText {
    color: azure;
}
.container {
    height: auto;
    display: grid;
    place-items: center;
    overflow-y: auto; 
    z-index: 1;
    grid-template-areas: "inner-div";
}
.displayTile {
    border-style: none solid none none;
    border-color: azure;
    border-width: 5px;
    background-color: #313131;
    border-radius: 10px;
    margin: 50px 20px 20px 3%;
    padding: 10px;
}
.displayTile img {
    width: 25%;
    min-width: 50px;
    max-width: 300px;
    margin-right: 5px;
    border-radius: 10px;
}
.displayTile > div {
    float: right;
    width: 75%;
}
.menuBar {
    position: fixed; 
    width: 100%; 
    background-color: #33383f;  
    z-index: 3;
}
.commandBar {
    position: fixed; 
    width: 100%;
    background-color: #3b71bb;  
    z-index: 3;
    height: 30px;
}
.menuItem, .commandItem {
    width: auto;
    padding: 2px 8px;
}
#menuDropHolder {
    display: table; 
    position: fixed;
    top: 40px;
    z-index: 3;
}
.menuDropdown {
    background-color: #2a2b2c;
    border-style: solid;
    border-color: rgb(219, 224, 224);
    border-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: none;
}
.menuDropItem {
    min-width: 200px;
    padding: 2px 3px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
}
.commandItem:hover, .menuDropItem:hover {
    background-color: #77a6e9 !important;
}

#wrapperContent{
    margin-bottom: 30px;
    background-color: #1e1e1e;
}
.menuItem:hover {
    background-color: #4a5058 !important;
    color: azure !important;
}
.inner {
    grid-area: inner-div;
}
#fileContent, #fileEditor {
    margin-left: 215px;
    margin-top: 25px;
    margin-bottom: 30px;
}
.tileHolder {
    width: 100%; 
    background-color: #2b40a1; 
    margin-top: 250px; 
    min-height: 500px; 
    padding-top: 50px;
    padding-bottom: 10px;
    border-radius: 25px;
    margin-bottom: 60px;
}
#sidebar {
    width: 50px;
    bottom: 30px;
    top: 25px;
    position: fixed; 
    z-index: 2;
    overflow-y: auto;
    background-color: #313131;
}
#collapseHolder {
    position: fixed;
    z-index: 3;
    width: 0px;
    background-color: #313131;
}
.openSidebar{
    width: 215px !important;
}

.page {
    margin-left: 215px;
}

.titleCard {
    margin-left: 215px;
}

#sidebarContent {
    width: 100%;
    margin-top: 50px;
}
.sidebarItem {
    margin-right: 5px;
    border-style: none none none solid;
    border-color: azure;
    border-width: 2px;
}
.selectedSideItem{
    background-color: #414141;
}
.sidebarFolder{
    border-style: none none none solid;
    border-color: azure;
    border-width: 1px;
}
.sidebarFolder > button{
    cursor: default;
}
.folderIcon{
    content:url("../assets/folder.png");
}
.htmlIcon{
    content:url("../assets/htmlFile.png");
}
.sidebarContent{
    /*border-style: none none none solid;
    border-color: azure;
    border-width: 1px;*/
    padding-left: 15px;
}
.sidebarItem img{
    width: 15px;
    max-width: 15px;
    margin-right: 5px;
    margin-left: 5px;
}
.sidebarItem button{
    padding: 0px;
}
.sidebarItem button:hover{
    background-color: #3e4146 !important;
    color: azure !important;
}
#explorerTitle{
    display: none;
    border-style: none;
    text-align: center;
    vertical-align: middle;
    margin-left: 30px;
}
#collapseSidebar {
    width: 50px;
    height: 50px;
    font-size: 20px;
    padding: 1px;
    color: azure;
    background-color: #414141;
    border-style: none none none solid;
    border-color: azure;
}
#collapseSidebar:hover {
    background-color: #3e4146 !important;
    color: azure !important;
}
.gitLink, .extraLink{
    width: 200px;
    padding: 2px 5px;
    margin: 3px 5px;
    background-color: #313131;
    border-radius: 10px;
    color: azure;
}
.gitLink a, .extraLink a{
    float: right;
    width: 80%;
}
.gitLink img, .extraLink img{
    width: 10%;
    min-width: 20px;
    margin-right: 5px;
}
.gitLink img{
    content:url("../assets/github.png");
}

.extraLink img{
    content:url("../assets/paper.png");
}

.forceWrap{
    word-break: break-word;
    white-space: normal;
}
#editorLines {
    width: 20px;
    background-color: #313131;
}
#editorContent {
    width: 90%;
    overflow-x: auto;
}
.tag{
    width: 160px !important;
    padding: 2px 5px;
    margin: 3px 5px;
    background-color: #414141;
    border-radius: 10px;
    color: azure;
}
.tag img{
    width: 10%;
    min-width: 20px;
    margin-right: 5px;
}
.tag span{
    float: right;
    width: 80%;
}
.editButton{
    content:url("../assets/edit.png");
    cursor: pointer;
    margin-left: 5px;
}
.tab{
    text-indent:40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/*Tags*/
.personalTag img{
    content:url("../assets/personal.png");
}
.personalTag span::after{
    content: "Personal";
}
.academicTag img{
    content:url("../assets/academic.png");
}
.academicTag span::after{
    content: "Acedemic";
}
.javaTag img{
    content:url("../assets/java.png");
}
.javaTag span::after{
    content: "Java";
}
.androidTag img{
    content:url("../assets/android.png");
}
.androidTag span::after{
    content: "Android";
}
.pythonTag img{
    content:url("../assets/python.png");
}
.pythonTag span::after{
    content: "Python";
}
.assemblyTag img{
    content:url("../assets/assembly.png");
}
.assemblyTag span::after{
    content: "Assembly";
}
.phpTag img{
    content:url("../assets/php.png");
}
.phpTag span::after{
    content: "PHP";
}
.htmlTag img{
    content:url("../assets/html.png");
}
.htmlTag span::after{
    content: "HTML";
}
.jsTag img{
    content:url("../assets/js.png");
}
.jsTag span::after{
    content: "JavaScript";
}
.collabTag img{
    content:url("../assets/collab.png");
}
.collabTag span::after{
    content: "Collaboration";
}
.hackTag img{
    content:url("../assets/hackathon.png");
}
.hackTag span::after{
    content: "Hackathon";
}
.researchTag img{
    content:url("../assets/research.png");
}
.researchTag span::after{
    content: "Research";
}
.aiTag img{
    content:url("../assets/ai.png");
}
.aiTag span::after{
    content: "AI";
}

.helpTag img{
    content:url("../assets/help.png");
}
.helpTag span::after{
    content: "Help";
}

.keterTag img{
    content:url("../assets/keter.png");
}
.keterTag span::after{
    content: "Keter";
}

.paperTag img{
    content:url("../assets/paper.png");
}

/*Large Screens*/
@media (max-width: 1500px) {
    .displayTile > div {
        width: 70%;
    }
}

/*Medium Screens*/
@media (max-width: 600px) {
    #editorContent {
        width: 80%;
    }
    .openSidebar{
        width: 100% !important;
    }
    #terminalHolder{
        display: none;
    }
    #resumeHolder{
        margin-bottom: 40px;
        height: 500px;
    }
    .tileHolder{
        margin-top: 300px;
        padding-right: 10px;
    }
    .smallInvisible{
        visibility: hidden;
    }
    .displayTile{
        margin-right: 0px;
        margin-left: 3%;
    }
    .katex{
        white-space: normal;
    }
}

/*Small Screens*/
@media (max-width: 400px) {
    #encodingStatus{
        display: none;
    }
    .tag {
        width: 100% !important;
    }
}
