
.menuBar {
    position: fixed;
    width: 100%;
    background-color: var(--theme-color-3);
    z-index: 3;
}

.infoBar {
    position: fixed;
    width: 100%;
    background-color: var(--theme-color-1);
    z-index: 3;
    height: 30px;
}

.menuItem, .infoBarItem {
    width: auto;
    padding: 2px 8px;
}

.infoBarItem {
    cursor: default;
}

#menuDropHolder {
    display: table;
    position: fixed;
    top: 27px;
    z-index: 3;
}

.menuDropdown {
    background-color: var(--theme-color-3);
    border-style: solid;
    border-color: var(--theme-accent);
    min-width: 200px;
    max-width: 350px;
    border-width: 1px;
    padding: 5px;
    border-radius: 5px;
    display: none;
}

.menuDropItem {
    display: block;
    width: 100%;
    padding: 2px 3px;
    text-align: left;
    border-radius: 5px;
}

.menuDropItem:hover {
    background-color: var(--theme-color-3-hover) !important;
    color: var(--theme-text) !important;
}

.infoBarItem:hover {
    background-color: var(--theme-color-1-hover) !important;
}

.menuItem:hover {
    background-color: var(--theme-color-3-hover) !important;
    color: var(--theme-text) !important;
}
