
#wrapperContent{
    margin-bottom: 30px;
    background-color: #1e1e1e;
}

.inner {
    grid-area: inner-div;
}

.page {
    margin-left: 230px;
    margin-bottom: 100px;
}

.titleCard {
    position: fixed;
    height: 300px;
    top: 50px;
}

.tileHolder {
    width: 100%;
    background-color: #2b40a1;
    margin-top: 250px;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 10px;
    border-radius: 25px;
}

#resumeEmbed {
    width: 100%;
    height: 100%;
}

#resumePage {
    position: fixed;
    top: 100px;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 25px;
}

.container {
    height: auto;
    display: grid;
    place-items: center;
    overflow-y: auto;
    grid-template-areas: "inner-div";
}

.displayTile {
    border-style: none solid none none;
    border-color: azure;
    border-width: 5px;
    background-color: #313131;
    border-radius: 10px;
    margin: 50px 20px 20px 3%;
    padding: 10px;
}

.displayTile img {
    width: 15%;
    min-width: 50px;
    max-width: 300px;
    margin-right: 5px;
    border-radius: 10px;
}
.displayTile > div {
    float: right;
    width: 83%;
}

.forceWrap{
    word-break: break-word;
    white-space: normal;
}
#editorLines {
    width: 20px;
    background-color: #313131;
}
.cm-editor {
    width: 90%;
    min-height: 100px;
    border-style: solid;
    border-color: azure;
    border-width: 2px;
    white-space: nowrap;
    color: azure;
    background-color: #414141;
}

.cm-scroller {
    min-height: 100px;
}

.cm-tooltip, .cm-tooltip-autocomplete{
    background-color: #414141 !important;
}

.cm-cursor {
    border-left-color: azure !important;
}

.CodeMirror-cursor {
    border-color: azure;
}

.CodeMirror-gutters {
    background-color: #33383f
}

#editorSave {
    padding: 10px;
    margin-top: 10px;
    color: azure; !important;
    background-color: #414141;
    border-style: none none none solid;
    border-color: azure;
    border-width: 2px;
}

#editorSave:hover {
    background-color: #51555b !important;
    color: azure !important;
}

.tab{
    text-indent:40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

code {
    color: azure;
    background-color: #414141;
    padding: 5px;
    border-radius: 5px;
}