
#wrapperContent{
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: var(--theme-color-1);
}

.inner {
    grid-area: inner-div;
}

#page {
    margin-left: 250px;
    margin-right: 10px;
    margin-bottom: 100px;
}

.titleCard {
    position: fixed;
    height: 300px;
    top: 50px;
}

.tileHolder {
    width: 100%;
    background-color: var(--theme-color-1);
    margin-top: 250px;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#resumeEmbed {
    width: 100%;
    height: 100%;
}

.container {
    height: auto;
    display: grid;
    place-items: center;
    overflow-y: auto;
    grid-template-areas: "inner-div";
}

.displayTile {
    border-style: none solid none none;
    border-color: var(--theme-accent);
    border-width: 5px;
    background-color: var(--theme-color-4);
    border-radius: 10px;
    margin: 50px 20px 20px 3%;
    padding: 10px;
}

.displayTile > img {
    width: 20%;
    margin: auto;
    min-width: 50px;
    max-width: 300px;
    border-radius: 10px;
}

.displayTile > div {
    float: right;
    width: 75%;
}

.galleryTile > img {
    display: block;
    margin: auto;
    width: 90%;
    max-width: 800px;
}

.forceWrap{
    word-break: break-word;
    white-space: normal;
}

#dialogBox {
    background-color: var(--theme-color-4-hover);
    border-radius: 10px;
    position: fixed;
    bottom: 40px;
    right: 5px;
    z-index: 3;
    width: 400px;
    height: 100px;
    padding: 10px;
    border-right: var(--theme-accent) 5px solid;
    display: none;
}

#dialogBoxTitle {
    font-weight: bold;
    font-size: large;
    margin-left: 10px;
}

.choiceTile {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-left: 20%;
    margin-right: 20%;
}

#confirmTile {
    background-color: var(--theme-color-2-selected);
}

#denyTile {
    background-color: #000000;
    background-image: url("/public/assets/matrix.gif");
}
