
.openSidebar {
    width: 240px;
    background-color: var(--theme-color-2);
}

.closeSidebar {
    width: 40px;
}

.openSidebarPage {
    margin-left: 250px;
}

.closeSidebarPage {
    margin-left: 50px;
}

#sidebar {
    bottom: 30px;
    top: 27px;
    position: fixed;
    z-index: 2;
    overflow-y: auto;
    background-color: var(--theme-color-2);
}

#collapseHolder {
    position: fixed;
    z-index: 3;
}

#sidebarContent {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sidebarItem {
    border-style: none none none solid;
    border-color: var(--theme-accent);
    border-width: 2px;
}

.sidebarFolderHeader {
    border-radius: 0px 5px 5px 0px;
}

.sidebarFolderHeader span {
    cursor: default;
    padding: 2px;
    border-radius: 5px;
}

.sidebarItem {
    padding: 1px;
    width: 100%;
    border-radius: 0px 5px 5px 0px;
}

.sidebarItem a {
    padding: 0px;
    text-decoration: none;
    flex-grow: 1;
    color: var(--theme-text);
}

.sidebarLink {
    display: flex;
}

.sidebarFolderHeader:hover, .sidebarLink:hover{
    background-color: var(--theme-color-2-hover) !important;
}

.selectedSidebarLink {
    background-color: var(--theme-color-2-selected) !important;
}

.selectedSidebarLink:hover {
    background-color: var(--theme-color-2-selected) !important;
}

.sidebarItem img{
    width: 15px;
    max-width: 15px;
    margin-right: 5px;
    margin-left: 5px;
    object-fit: contain;
}

.folderIcon{
    content:url("../assets/folder.png");
}

.htmlIcon{
    content:url("../assets/htmlFile.png");
}

.sidebarContent{
    padding-left: 15px;
}

#explorerTitle{
    text-align: left;
    border-style: none;
    vertical-align: middle;
    padding-left: 10px;
    cursor: default;
}

#collapseSidebar {
    width: 40px;
    height: 40px;
    padding: 1px;
    background-color: var(--theme-color-2-selected);
    border-style: none none none solid;
    border-color: var(--theme-accent);
    border-width: 2px;
    background-image: url("../assets/explorerIcon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#collapseSidebar:hover {
    background-color: var(--theme-color-2-hover) !important;
}

.editButton{
    content:url("../assets/edit.png");
    cursor: pointer;
    margin-left: 5px;
    margin-right: 10px;
}

.fileRenamer {
    max-height: 30px;
    background-color: var(--theme-color-2);
    color: var(--theme-text);
    resize: none;
    border-radius: 5px;
    white-space: nowrap;
}

.contextMenu {
    width: 200px;
    border-style: solid;
    border-color: var(--theme-accent);
    border-width: 1px;
    border-radius: 5px;
    z-index: 100;
    position: fixed;
    background-color: var(--theme-color-3);
    padding: 5px;
}

.contextMenuItem {
    display: block;
    width: 100%;
    border-radius: 5px;
    text-align: left;
    padding: 2px 3px;
}

.contextMenuItem:hover {
    background-color: var(--theme-color-3-hover) !important;
    color: var(--theme-text) !important;
}
