.tag{
    width: 160px !important;
    padding: 2px 5px;
    margin: 3px 5px;
    background-color: var(--theme-4-hover);
    border-radius: 10px;
    color: azure;
}
.tag img{
    width: 10%;
    min-width: 20px;
    margin-right: 5px;
}
.tag span{
    float: right;
    width: 80%;
}

.gitLink, .extraLink{
    width: 200px;
    padding: 2px 5px;
    margin: 3px 5px;
    background-color: var(--theme-4-hover);
    border-radius: 10px;
    color: azure;
}

.gitLink a, .extraLink a{
    width: 70%;
}
.gitLink img, .extraLink img{
    width: 10%;
    min-width: 20px;
    max-width: 30px;
    margin-right: 5px;
}
.gitLink img{
    content:url("../assets/github.png");
}

.extraLink img{
    content:url("../assets/paper.png");
}

.darkTag {
    background-color: var(--theme-4);
}

/*Tags*/

.paperTag img{
    content:url("../assets/paper.png");
}

.personalTag img{
    content:url("../assets/personal.png");
}
.personalTag span::after{
    content: "Personal";
}
.academicTag img{
    content:url("../assets/academic.png");
}
.academicTag span::after{
    content: "Academic";
}
.javaTag img{
    content:url("../assets/java.png");
}
.javaTag span::after{
    content: "Java";
}
.androidTag img{
    content:url("../assets/android.png");
}
.androidTag span::after{
    content: "Android";
}
.pythonTag img{
    content:url("../assets/python.png");
}
.pythonTag span::after{
    content: "Python";
}
.assemblyTag img{
    content:url("../assets/assembly.png");
}
.assemblyTag span::after{
    content: "Assembly";
}
.phpTag img{
    content:url("../assets/php.png");
}
.phpTag span::after{
    content: "PHP";
}
.htmlTag img{
    content:url("../assets/html.png");
}
.htmlTag span::after{
    content: "HTML";
}
.jsTag img{
    content:url("../assets/js.png");
}
.jsTag span::after{
    content: "JavaScript";
}
.collabTag img{
    content:url("../assets/collab.png");
}
.collabTag span::after{
    content: "Collaboration";
}
.hackTag img{
    content:url("../assets/hackathon.png");
}
.hackTag span::after{
    content: "Hackathon";
}
.researchTag img{
    content:url("../assets/research.png");
}
.researchTag span::after{
    content: "Research";
}
.aiTag img{
    content:url("../assets/ai.png");
}
.aiTag span::after{
    content: "AI";
}

.helpTag img{
    content:url("../assets/help.png");
}
.helpTag span::after{
    content: "Help";
}

.keterTag img{
    content:url("../assets/keter.png");
}
.keterTag span::after{
    content: "Keter";
}

.alignmentTag img{
    content:url("../assets/alignment.png");
}
.alignmentTag span::after{
    content: "Alignment";
}

.clangTag img{
    content:url("../assets/c.png");
}
.clangTag span::after{
    content: "C";
}

.cppTag img{
    content:url("../assets/cpp.png");
}
.cppTag span::after{
    content: "C++";
}

.cudaTag img{
    content:url("../assets/cuda.png");
}
.cudaTag span::after{
    content: "CUDA";
}

