.menuBar {
    position: fixed;
    width: 100%;
    background-color: #33383f;
    z-index: 3;
}

.commandBar {
    position: fixed;
    width: 100%;
    background-color: #3b71bb;
    z-index: 3;
    height: 30px;
}

.menuItem, .commandItem {
    width: auto;
    padding: 2px 8px;
}

#menuDropHolder {
    display: table;
    position: fixed;
    top: 27px;
    z-index: 3;
}

.menuDropdown {
    background-color: #2a2b2c;
    border-style: solid;
    border-color: rgb(219, 224, 224);
    border-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: none;
}

.menuDropItem {
    display: block;
    min-width: 200px;
    padding: 2px 3px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
}

.commandItem:hover, .menuDropItem:hover {
    background-color: #77a6e9 !important;
}

.menuItem:hover {
    background-color: #4a5058 !important;
    color: azure !important;
}
