.menuBar {
    position: fixed;
    width: 100%;
    background-color: #35353a;
    z-index: 3;
}

.infoBar {
    position: fixed;
    width: 100%;
    background-color: #2b3137;
    z-index: 3;
    height: 30px;
}

.menuItem, .infoBarItem {
    width: auto;
    padding: 2px 8px;
}

#menuDropHolder {
    display: table;
    position: fixed;
    top: 27px;
    z-index: 3;
}

.menuDropdown {
    background-color: #35353a;
    border-style: solid;
    border-color: rgb(219, 224, 224);
    min-width: 200px;
    max-width: 350px;
    border-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: none;
}

.menuDropItem {
    display: block;
    width: 100%;
    padding: 2px 3px;
    text-align: left;
}

.menuDropItem:hover {
    background-color: #4a5058 !important;
    color: azure !important;
}

.infoBarItem:hover {
    background-color: #34414e !important;
}

.menuItem:hover {
    background-color: #4a5058 !important;
    color: azure !important;
}
