
:root {
    --theme-text: #f0ffff;
    --theme-text-hover: #f0ffff;
    --theme-link: #add3ee;
    --theme-accent: #f0ffff;
    --theme-color-1: #1a2329;
    --theme-color-1-selected: #315167;
    --theme-color-1-hover: #315167;
    --theme-color-2: #2f3c45;
    --theme-color-2-selected: #375468;
    --theme-color-2-hover: #475863;
    --theme-color-3: #2a3135;
    --theme-color-3-selected: #3f505a;
    --theme-color-3-hover: #3f505a;
    --theme-color-4: #313131;
    --theme-color-4-selected: #3b3e40;
    --theme-color-4-hover: #3b3e40;
}
