.blogSidebar {
    width: 220px;
    position: absolute;
    top: 50px;
    right: 0;
    padding: 5px;
    background-color: var(--theme-color-2);
    border-radius: 10px;
    border: 2px solid var(--theme-accent);
}

.blogSidebarItem a {
    display: flex;
    text-decoration: none;
    color: var(--theme-text);
    font-size: small;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 2px;
}

.blogSidebarItem a:hover {
    background-color: var(--theme-color-2-hover);
}

.blogSidebarNumber {
    font-weight: bold;
    margin-right: 5px;
}

@media (width <= 1550px) {
    .blogSidebar {
        display: none;
    }
}
