
.tileLayout {
    width: 100%;
    background-color: var(--theme-color-1);
    margin-top: 250px;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.flexTileHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 10px;
    margin-bottom: 50px;
}

.blogHolder {
    width: 75%;
    max-width: 800px;
    margin-top: 50px;
    text-indent: 20px;
}

.blogHolder > h3 {
    background-color: rgb(139 166 175 / 45%);
    padding: 10px;
    border-radius: 10px;
    border-width: 5px;
    border-style: none solid none none;
    border-color: var(--theme-accent);
    margin-top: 50px;
    margin-bottom: 20px;
}

.blogLanding h4 {
    font-size: medium;
}

.blogTitle {
    padding: 10px;
    text-align: center;
    border-width: 5px;
    border-style: none solid;
    border-color: var(--theme-accent);
    border-radius: 10px;
    max-width: 700px;
    width: 70%;
    margin-top: 50px;
}

.displayTile {
    border-style: none solid none none;
    border-color: var(--theme-accent);
    border-width: 5px;
    background-color: var(--theme-color-4);
    border-radius: 10px;
    margin: 50px 3% 20px;
    padding: 10px;
    transition: all 700ms;
}

.hiddenTile {
    margin-left: 90%;
    margin-right: -84%;
    transition: none;
}

.displayTileTitle > * {
    font-weight: bolder;
}

.displayTileThumbnail {
    width: 300px;
}

.displayTileThumbnail > img {
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.displayTileContent, .displayContentTitle {
    padding: 0 25px;
}

.blogLanding .displayTile {
    border-style: none solid;
    max-width: 300px;
    margin: 0;
}

.blogLanding .displayTileContent {
    padding: 0 10px;
}

.blogLanding img {
    max-height: 150px !important;
}

.galleryTileTitle {
    display: block;
    margin: auto;
    text-align: center;
}

.galleryTileThumbnail {
    display: block;
    float: none;
    width: 100%;
    margin: auto;
    max-width: 800px;
    max-height: 400px;
}

.galleryTileThumbnail > img {
    max-height: 400px;
    display: block;
    margin: auto;
}

.galleryTileContent, .textOnlyTileContent {
    width: 100%;
    margin-top: 10px;
}

.forceWrap {
    overflow-wrap: anywhere;
    white-space: normal;
}

.choiceTile {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-left: 20%;
    margin-right: 20%;
}

.confirmTile {
    background-color: var(--theme-color-2-selected);
}

.denyTile {
    background-color: #000;
    background-image: url("/assets/matrix.gif");
}

.anchorLink img {
    width: 20px;
    max-width: 20px;
    margin-left: 10px;
}

.anchorIcon {
    content: url("/assets/anchorIcon.svg");
}

.bookTileContent {
    max-height: 600px;
    overflow-y: auto;
    padding-bottom: 60px;
}

.bookTileContent::before {
    content: "";
    top: 0;
    background: linear-gradient(to top, transparent, var(--theme-color-4));
    position: absolute;
    left: 0;
    right: 0;
    height: 20px;
    pointer-events: none;
    z-index: 1;
}

.bookTileContent::after {
    content: "";
    bottom: 0;
    background: linear-gradient(to bottom, transparent, var(--theme-color-4));
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
    pointer-events: none;
    z-index: 1;
}

.bookTileSectionHeader {
    font-weight: bold;
    text-decoration: underline;
}

.bookTileSection {
    margin-top: 15px;
}

.bookTileSection p {
    text-indent: 20px;
}

.mirrored {
    display: inline-block; /* Essential for applying transform correctly */
    transform: scaleX(-1);
}

.initStatus {
    display: none;
}

.passwordInput {
    outline: none;
    white-space: nowrap;
    opacity: 0;
    caret-color: transparent;
}


.linedPaper {
    background-image:
            linear-gradient(90deg, transparent 40px, #7ac3cf 40px, #7ac3cf 42px, transparent 42px),
            linear-gradient(var(--theme-text) .1em, transparent .1em);
    background-size: 100% 1.2em;
    padding-left: 50px;
}

.linedPaper > span {
    display: block;
    line-height: 1.2em;
}

.inkWriting {
    color: #6786d3;
    font-family: sans-serif;
    font-style: italic;
}

.cvPage {
    display: flex !important;
    padding-bottom: 0 !important;
}

.cvEmbed {
    flex: 1;
    width: 100%;
    height: 800px;
    border-radius: 10px;
}

@media (width >= 1500px) {
    .displayTile {
         margin: 50px 15% 20px;
    }

    .hiddenTile {
        margin-left: 90%;
        margin-right: -60%;
    }
}

@media (width <= 1300px) {
    .displayTileContent {
        width: 100%;
    }

    .displayTileThumbnail {
        width: 100%;
        display: block;
        float: none;
        margin: auto;
        max-width: 300px;
        min-width: 50px;
    }
}


@media (width <= 600px) {
    .tileLayout {
        margin-top: 300px;
        padding-right: 10px;
    }

    .displayTile {
        margin-right: 0;
        margin-left: 10px;
    }

    .blogHolder {
        width: 95%;
        max-width: 800px;
    }

     .blogTitle {
        width: 90%;
     }

    .cvEmbed {
        margin-top: 75px;
        height: 750px;
    }
}
