
.openSidebar {
    width: 260px;
}

.closeSidebar {
    width: 40px;
}

.sidebar {
    border-radius: 10px;
    background-color: var(--theme-color-2);
    border-style: solid;
    border-color: var(--theme-accent);
    border-width: 1px;
}

.sidebarHeader {
    position: fixed;
    z-index: 3;
}

.sidebarBody {
    overflow-y: auto;
    height: calc(100% - 60px);
    margin-top: 50px;
    padding-right: 5px;
}

.sidebarContent {
    width: 100%;
}

.sidebarItem {
    border-style: none none none solid;
    border-color: var(--theme-accent);
    border-width: 2px;
    padding-left: 1px;
    padding-right: 5px;
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.sidebarFolderItem {
    padding-right: 0;
}

.sidebarFolderHeader {
    border-radius: 0 5px 5px 0;
}

.sidebarFolderHeader span {
    cursor: default;
    padding: 2px;
    border-radius: 5px;
}

.sidebarItem a {
    padding: 1px;
    text-decoration: none;
    flex-grow: 1;
    color: var(--theme-text);
}

.sidebarLink {
    display: flex;
    max-height: 25px;
}

.selectedSidebarLink, .selectedSidebarLink a {
    background-color: var(--theme-color-2-selected) !important;
    color: var(--theme-text-hover) !important;
}

.sidebarFolderHeader:hover, .sidebarLink:hover, .sidebarLink:hover a {
    background-color: var(--theme-color-2-hover) !important;
    color: var(--theme-text-hover) !important;
}

.selectedSidebarLink:hover, .selectedSidebarLink:hover a {
    background-color: var(--theme-color-2-selected) !important;
    color: var(--theme-text-hover) !important;
}

.sidebarItem img {
    width: 15px;
    max-width: 15px;
    margin-right: 5px;
    margin-left: 5px;
    object-fit: contain;
}

.folderIcon {
    content: url("/assets/folderIcon.svg");
}

.htmlIcon {
    content: url("/assets/htmlIcon.svg");
}

.sidebarItemContent {
    padding-left: 15px;
}

.sidebarTitle {
    text-align: left;
    border-style: none;
    vertical-align: middle;
    padding-left: 10px;
    cursor: default;
}

.sidebarToggle {
    border-radius: 10px;
    width: 38px;
    height: 40px;
    padding: 5px;
    background-color: var(--theme-color-2-selected);
    border-width: 2px;
    background-image: url("/assets/explorerIcon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.sidebarToggle:hover {
    background-color: var(--theme-color-2-hover) !important;
}

.editorButton {
    content: url("/assets/editIcon.svg");
    cursor: pointer;
    margin-left: 5px;
    margin-right: 10px;
}

.fileRenamer {
    max-height: 30px;
    background-color: var(--theme-color-2);
    color: var(--theme-text);
    resize: none;
    border-radius: 5px;
    white-space: nowrap;
}


@media (width <= 600px) {
    .sidebarTitle {
        visibility: hidden;
    }

    .sidebar {
        border: none;
        bottom: 0 !important;
    }

    .sidebarToggle {
        border: var(--theme-accent) 2px solid;
    }

    .openSidebar {
        width: 100% !important;
    }

    .closeSidebar {
        background-color: transparent !important;
    }

    .editorButton {
        display: none;
    }

    .sidebarHeader {
        border-style: none;
    }
}
