
.openSidebar {
    width: 240px;
}

.closeSidebar {
    width: 40px;
}

.sidebar {
    bottom: 30px;
    top: 27px;
    position: fixed;
    z-index: 2;
    overflow-y: auto;
    background-color: var(--theme-color-2);
    border-right: var(--theme-accent) 2px solid;
}

.collapseHolder {
    position: fixed;
    z-index: 3;
    background-color: var(--theme-color-2);
    border-style: none solid none none;
    border-color: var(--theme-accent);
    border-width: 2px;

}

.sidebarContent {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sidebarItem {
    border-style: none none none solid;
    border-color: var(--theme-accent);
    border-width: 2px;
}

.sidebarFolderHeader {
    border-radius: 0px 5px 5px 0px;
}

.sidebarFolderHeader span {
    cursor: default;
    padding: 2px;
    border-radius: 5px;
}

.sidebarItem {
    padding: 1px;
    width: 100%;
    border-radius: 0px 5px 5px 0px;
}

.sidebarItem a {
    padding: 0px;
    text-decoration: none;
    flex-grow: 1;
    color: var(--theme-text);
}

.sidebarLink {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.sidebarFolderHeader:hover, .sidebarLink:hover, .sidebarLink:hover a{
    background-color: var(--theme-color-2-hover) !important;
    color: var(--theme-text-hover) !important;
}

.selectedSidebarLink, .selectedSidebarLink a {
    background-color: var(--theme-color-2-selected) !important;
    color: var(--theme-text-hover) !important;
}

.selectedSidebarLink:hover, .selectedSidebarLink:hover a {
    background-color: var(--theme-color-2-selected) !important;
    color: var(--theme-text-hover) !important;
}

.sidebarItem img{
    width: 15px;
    max-width: 15px;
    margin-right: 5px;
    margin-left: 5px;
    object-fit: contain;
}

.folderIcon{
    content:url("/assets/folderIcon.svg");
}

.htmlIcon{
    content:url("/assets/htmlIcon.svg");
}

.sidebarItemContent{
    padding-left: 15px;
}

.explorerTitle{
    text-align: left;
    border-style: none;
    vertical-align: middle;
    padding-left: 10px;
    cursor: default;
}

.collapseSidebar {
    width: 38px;
    height: 40px;
    padding: 1px;
    background-color: var(--theme-color-2-selected);
    border-style: none none none solid;
    border-color: var(--theme-accent);
    border-width: 2px;
    background-image: url("/assets/explorerIcon.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.collapseSidebar:hover {
    background-color: var(--theme-color-2-hover) !important;
}

.editorButton {
    content:url("/assets/editIcon.svg");
    cursor: pointer;
    margin-left: 5px;
    margin-right: 10px;
}

.fileRenamer {
    max-height: 30px;
    background-color: var(--theme-color-2);
    color: var(--theme-text);
    resize: none;
    border-radius: 5px;
    white-space: nowrap;
}


@media (max-width: 600px) {
    .explorerTitle {
        visibility: hidden;
    }

    .sidebar {
        border: none;
    }

    .collapseSidebar {
        border: var(--theme-accent) 2px solid;
    }

    .openSidebar {
        width: 100% !important;
    }

    .closeSidebar {
        background-color: transparent !important;
    }

    .editorButton {
        display: none;
    }

    .collapseHolder {
        border-style: none;
    }


}
