
.tagHolder {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.tag {
    width: 160px !important;
    padding: 2px 5px;
    margin: 3px 5px;
    background-color: var(--theme-color-4-selected);
    border-radius: 10px;
}

.tag img {
    width: 25px;
    margin-right: 5px;
}

.gitLink, .extraLink, .downloadLink, .pageLink {
    width: 200px;
    padding: 2px 5px;
    margin: 3px 5px;
    background-color: var(--theme-color-4-selected);
    border-radius: 10px;
}

.pageLink {
    width: auto;
}

.gitLink div a, .extraLink div a, .downloadLink div a, .pageLink div a {
    width: 100%;
    display: block;
    text-align: center;
}

.gitLink img, .extraLink img, .downloadLink img, .pageLink img {
    width: 25px;
    margin-right: 5px;
}

.gitLink img {
    content: url("/assets/github.png");
}

.extraLink img {
    content: url("/assets/paper.png");
}

.downloadLink img {
    content: url("/assets/download.png");
}

.pageLink img {
    content: url("/assets/section.png");
}

.darkTag {
    background-color: var(--theme-color-4);
}

/* Tags */

.paperTag img {
    content: url("/assets/paper.png");
}

.personalTag img {
    content: url("/assets/personal.png");
}

.personalTag div::after {
    content: "Personal";
}

.academicTag img {
    content: url("/assets/academic.png");
}

.academicTag div::after {
    content: "Academic";
}

.javaTag img {
    content: url("/assets/java.png");
}

.javaTag div::after {
    content: "Java";
}

.androidTag img {
    content: url("/assets/android.png");
}

.androidTag div::after {
    content: "Android";
}

.pythonTag img {
    content: url("/assets/python.png");
}

.pythonTag div::after {
    content: "Python";
}

.assemblyTag img {
    content: url("/assets/assembly.png");
}

.assemblyTag div::after {
    content: "Assembly";
}

.phpTag img {
    content: url("/assets/php.png");
}

.phpTag div::after {
    content: "PHP";
}

.htmlTag img {
    content: url("/assets/html.png");
}

.htmlTag div::after {
    content: "HTML";
}

.jsTag img {
    content: url("/assets/js.png");
}

.jsTag div::after {
    content: "JavaScript";
}

.collabTag img {
    content: url("/assets/collab.png");
}

.collabTag div::after {
    content: "Collaboration";
}

.hackTag img {
    content: url("/assets/hackathon.png");
}

.hackTag div::after {
    content: "Hackathon";
}

.researchTag img {
    content: url("/assets/research.png");
}

.researchTag div::after {
    content: "Research";
}

.aiTag img {
    content: url("/assets/ai.png");
}

.aiTag div::after {
    content: "AI";
}

.helpTag img {
    content: url("/assets/help.png");
}

.helpTag div::after {
    content: "Help";
}

.keterTag img {
    content: url("/assets/keter.png");
}

.keterTag div::after {
    content: "Keter";
}

.alignmentTag img {
    content: url("/assets/alignment.png");
}

.alignmentTag div::after {
    content: "Alignment";
}

.clangTag img {
    content: url("/assets/c.png");
}

.clangTag div::after {
    content: "C";
}

.cppTag img {
    content: url("/assets/cpp.png");
}

.cppTag div::after {
    content: "C++";
}

.cudaTag img {
    content: url("/assets/cuda.png");
}

.cudaTag div::after {
    content: "CUDA";
}


@media (width <= 600px) {
    .gitLink img, .extraLink img, .downloadLink img, .pageLink img {
        width: 30px;
    }

    .gitLink div a, .extraLink div a, .downloadLink div a, .pageLink div a {
        font-size: 1.3em;
    }
}


@media (width <= 400px) {
    .tag {
        width: 100% !important;
    }
}
