
.terminalClose {
    border-bottom-left-radius: 10px;
    float: right;
    visibility: hidden;
}

.terminalClose:hover {
    background-color: var(--theme-color-3-hover) !important;
    color: var(--theme-text) !important;
}

.terminalBottom {
    display: flex;
}

.terminalHolder {
    border-radius: 10px;
    background-color: var(--theme-color-3);
    border-bottom: 1px solid var(--theme-accent);
    border-right: 1px solid var(--theme-accent);
    border-left: 1px solid var(--theme-accent);
    color: var(--theme-text) !important;
    position: fixed;
    bottom: 30px;
    left: 3px;
    right: 3px;
    z-index: 2;
}

.terminalOutput {
    width: 100%;
}

.terminalHeader {
    cursor: pointer;
    height: 40px;
    user-select: none;
    padding-left: 5px;
}

.terminalPrompt {
    height: 40px;
    float: left;
}

.terminalInput {
    min-height: 40px;
    overflow-wrap: break-word;
    overflow-x: hidden;
}

.terminalInput:focus-visible {
    outline: none;
}

.terminal {
    cursor: text;
    overflow: hidden scroll;
    overflow-wrap: break-word;
    display: none;
    border-top: var(--theme-color-3-hover) 1px solid;
    padding: 10px 5px;
    overscroll-behavior: contain;
}

.terminalFileHandler {
    z-index: 3;
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
    display: none;
    background-color: rgb(128 128 128 / 25%) !important;
    pointer-events: none;
    text-align: center;
}

.terminalFileIndicator {
    background-color: var(--theme-color-3-hover);
    padding: 10px;
    border-radius: 6px;
    border-color: var(--theme-accent);
    border-style: solid;
}

.terminalThumb {
    border-radius: 10px 10px 0 0;
    background-color: var(--theme-color-3-hover);
    border-top: 1px solid var(--theme-accent);
    cursor: row-resize;
    height: 12px;
}

.terminalThumbDots {
    text-align: center;
    font-weight: bold;
    color: var(--theme-color-3);
    display: block;
    user-select: none;
    margin: -5px auto auto;
    height: 12px;
    width: 50px;
}

.void {
    background: url("/media/image/void.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;
}

.voidControl {
    width: 100%;
    height: 50px;
    background-color: black;
    position: fixed;
    bottom: 0;
    text-align: center;
    cursor: pointer
}

.terminalSprite {
    width: auto;
    position: relative;
    top: 0;
    margin-left: 10px;
}


.terminalSpriteContainer {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 100;
    right: 50px;
}


@media (width <= 600px) {
    .terminalHolder {
        display: none;
    }
}
