.page {
    padding-bottom: 100px;
    display: grid;
    place-items: center;
}

.pageHolder {
    overflow-y: scroll;
    flex: 1;
    border-radius: 10px;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wrapperContent {
    background-color: var(--theme-color-1);
    display: flex;
    align-items: stretch;
    gap: 10px;
    flex: 1;
    overflow: auto;
}

.wrapperInner {
    position: fixed;
    inset: 30px 10px 30px 5px;
    display: flex;
    gap: 10px;
    align-items: stretch;
    flex-direction: column;
}

.titleCard {
    position: fixed;
    height: 300px;
    top: 70px;
    pointer-events: none;
    padding-left: 10px;
    padding-right: 10px;
}

.titleCard h1 {
    margin: auto;
    width: 100%;
    text-align: center
}

.titleCard h3 {
    margin: auto;
    width: auto;
    text-align: center
}

.showOnMobile {
    display: none;
}


@media (width <= 600px) {
    .page {
        margin-bottom: 70px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .hideOnMobile {
        display: none;
    }

    .showOnMobile {
        display: initial;
    }

}
