.openSidebar{
    width: 200px;
}
#terminalHolder{
    background-color: #1e1e1e;
    color: azure;
    position: fixed;
    bottom: 30px;
    width: 100%; 
}
#terminalOutput{
    position: fixed;
    bottom: 70px;
    height: 0px;
    width: 100%;
    overflow: scroll;
}
#terminalPrompt{
    position: fixed;
    bottom: 30px;
    height: 40px;
    width: auto;
}
#terminalInput{
    position: fixed;
    bottom: 30px;
    height: 40px;
    width: 100%;
    margin-left: 130px;
}
#terminalInput:focus-visible{
    outline: none;
}
#terminal{
    border: 1px solid black; 
    height: 30px;
}
#terminalThumb{
    background: #838383;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    cursor: row-resize;
    height: 10px;
}
#resumeHolder{
    width: 100%;
    height: 1100px;
    margin-bottom: 60px;
}
.lightText {
    color: azure;
}
.container {
    height: auto;
    display: grid;
    place-items: center;
    overflow-y: auto; 
    z-index: 1;
    grid-template-areas: "inner-div";
}
.displayTile {
    border-style: none solid none none;
    border-color: azure;
    border-width: 5px;
    background-color: #313131;
    border-radius: 10px;
    margin: 50px 20px 20px 5%;
    padding: 10px;
}
.displayTile img {
    width: 25%;
    min-width: 50px;
    max-width: 300px;
    margin-right: 5px;
    border-radius: 10px;
}
.displayTile > div {
    float: right;
    width: 75%;
}
.menuBar {
    position: fixed; 
    width: 100%; 
    background-color: #33383f;  
    z-index: 2;
}
.commandBar {
    position: fixed; 
    width: 100%;
    background-color: #3b71bb;  
    z-index: 2;
    height: 30px;
}
.menuItem, .commandItem {
    width: auto;
    padding: 2px 8px;
}
#menuDropHolder {
    display: table; 
    position: fixed;
    top: 40px;
    z-index: 3;
}
.menuDropdown {
    background-color: #2a2b2c;
    border-style: solid;
    border-color: rgb(219, 224, 224);
    border-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: none;
}
.menuDropItem {
    min-width: 200px;
    padding: 2px 3px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
}
.commandItem:hover, .menuDropItem:hover {
    background-color: #77a6e9 !important;
}

#wrapperContent{
    margin-bottom: 30px;
    background-color: #1e1e1e;
}
.menuItem:hover {
    background-color: #4a5058 !important;
    color: azure !important;
}
.inner {
    grid-area: inner-div;
}
#fileContent, #fileEditor {
    margin-left: 160px;
    margin-top: 25px;
    margin-bottom: 30px;
}
#tileHolder {
    width: 100%; 
    background-color: #2b40a1; 
    margin-top: 300px; 
    min-height: 500px; 
    padding-top: 50px;
    padding-bottom: 10px;
    border-radius: 25px;
    margin-bottom: 60px;
}
#sidebar {
    bottom: 35px;
    top: 35px;
    position: fixed; 
    z-index: 2;
    overflow-y: auto;
    background-color: #313131;
}
#sidebarContent {
    width: 100%;
}
.sidebarItem {
    margin: 5px;
    border-style: none none none solid;
    border-color: azure;
    border-width: 2px;
}
.sidebarFolder{
    border-style: none;
}
.sidebarFolder > button{
    cursor: default;
}
.folderIcon{
    content:url("assets/folder.png");
    width: 15px;
}
.htmlIcon{
    content:url("assets/htmlFile.png");
    width: 15px;
}
.sidebarContent{
    border-style: none none none solid;
    border-color: azure;
    border-width: 1px;
}
.sidebarItem img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.sidebarItem button{
    padding: 0px;
}
.sidebarItem button:hover{
    background-color: #3e4146 !important;
    color: azure !important;
}
#collapseSidebar {
    width: 50px;
    height: 50px;
    font-size: 20px;
    padding: 1px;
    color: azure;
    background-color: #414141;
    border-style: none none none solid;
    border-color: azure;
}
#collapseSidebar:hover {
    background-color: #3e4146 !important;
    color: azure !important;
}
.gitLink, .extraLink{
    width: 200px;
    padding: 2px 5px;
    margin: 3px 5px;
    background-color: #313131;
    border-radius: 10px;
    color: azure;
}
.gitLink a, .extraLink a{
    float: right;
    width: 80%;
}
.gitLink img, .extraLink img{
    width: 10%;
    min-width: 20px;
    margin-right: 5px;
    content:url("assets/github.png");
}
body {
    font-family: Consolas,monaco,monospace; 
}

#editorLines {
    width: 20px;
    background-color: #313131;
}
#editorContent {
    width: 90%;
    overflow-x: auto;
}
.tag{
    width: 150px;
    padding: 2px 5px;
    margin: 3px 5px;
    background-color: #414141;
    border-radius: 10px;
    color: azure;
}
.tag img{
    width: 10%;
    min-width: 20px;
    margin-right: 5px;
}
.tag span{
    float: right;
    width: 80%;
}
.editButton{
    content:url("assets/edit.png");
    cursor: pointer;
    margin-left: 5px;
}
.tab{
    text-indent:40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/*Tags*/
.personalTag img{
    content:url("assets/personal.png");
}
.personalTag span::after{
    content: "Personal";
}
.academicTag img{
    content:url("assets/academic.png");
}
.academicTag span::after{
    content: "Acedemic";
}
.javaTag img{
    content:url("assets/java.png");
}
.javaTag span::after{
    content: "Java";
}
.androidTag img{
    content:url("assets/android.png");
}
.androidTag span::after{
    content: "Android";
}
.pythonTag img{
    content:url("assets/python.png");
}
.pythonTag span::after{
    content: "Python";
}
.assemblyTag img{
    content:url("assets/assembly.png");
}
.assemblyTag span::after{
    content: "Assembly";
}
.phpTag img{
    content:url("assets/php.png");
}
.phpTag span::after{
    content: "PHP";
}
.htmlTag img{
    content:url("assets/html.png");
}
.htmlTag span::after{
    content: "HTML";
}
.jsTag img{
    content:url("assets/js.png");
}
.jsTag span::after{
    content: "JavaScript";
}
.collabTag img{
    content:url("assets/collab.png");
}
.collabTag span::after{
    content: "Collaboration";
}
.hackTag img{
    content:url("assets/hackathon.png");
}
.hackTag span::after{
    content: "Hackathon";
}
.researchTag img{
    content:url("assets/research.png");
}
.researchTag span::after{
    content: "Research";
}
.aiTag img{
    content:url("assets/ai.png");
}
.aiTag span::after{
    content: "AI";
}

@media (max-width: 600px) {
    #editorContent {
        width: 80%;
    }
    .openSidebar{
        width: 100%;
    }
    #terminalHolder{
        display: none;
    }
    #resumeHolder{
        margin-bottom: 40px;
        height: 500px;
    }
}

@media (max-width: 1500px) {
    .displayTile > div {
        width: 70%;
    }
}
