/* Screen Sizes 1280-1920 */

/*Large Screens*/
@media (max-width: 1500px) {
    .displayTile > div {
        width: 100%;
    }

    .displayTile > img {
        width: 100%;
        display: block;
        float: none;
    }
}