/* Screen Sizes 360-414 */

@media (max-width: 400px) {
    #encodingStatus{
        display: none;
    }

    .tag {
        width: 100% !important;
    }

    .gitLink a, .extraLink a {
        float: right;
    }
}