/* Screen Sizes 600-1280 */

/*Medium Screens*/

@media (max-width: 600px) {

    #explorerTitle {
        visibility: hidden;
    }

    #sidebar {
        border: none;
    }

    .hideOnMobile {
        display: none;
    }

    .page {
        margin-bottom: 70px;
        margin-left: 0px;
        margin-right: 0px;
    }

    #collapseSidebar {
        border: var(--theme-accent) 2px solid;
    }

    .openSidebar {
        width: 100% !important;
    }

    .closeSidebar {
        background-color: transparent !important;
    }

    .openSidebarPage {
        margin-left: 0px;
        display: none;
    }

    .closeSidebarPage {
        margin-left: 0px;
    }

    .editorButton {
        display: none;
    }

    #newAction, #saveAction{
        display: none;
    }

    #terminalButton, #editButton, #terminalHelpAction {
        display: none;
    }

    #terminalHolder {
        display: none;
    }

    #editorContent {
        width: 80%;
    }

    #tileHolder {
        margin-top: 300px;
        padding-right: 10px;
    }

    .displayTile {
        margin-right: 0px;
        margin-left: 3%;
    }

    .katex {
        white-space: normal;
    }
}
